<ion-view>
<ion-header-bar class="bar-dark">
    <h1 class="title">Cinder</h1>
</ion-header-bar>
    <ion-content>

<div class="card">
    <div class="item center-text"><b>Please log in to continue</b></div>
    <div class="item item-text-wrap">
        <div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">User Name</span>
    <input type="text" placeholder="username" ng-model="createSo.notes">
  </label>
            <label class="item item-input item-stacked-label">
     <span  class="input-label">Password</span>
     <input type="text" placeholder="Enter password here">  
  </label>
        </div>
    </div>
</div>
<button class="button button-block button-positive">
  Create Sales Order
</button>
    </ion-content>
</ion-view>