 <ion-modal-view>
    <ion-header-bar class="bar-dark">
        <button class="button " ng-click="closeModal()"><i class="ion-chevron-left"></i></button>
      <h1 class="title">Edit Sales Order</h1>
    </ion-header-bar>
    <ion-content>


<label class="item item-stacked-label">
    <span class="input-label">ID</span>
    <p ng-model="editSo.id">{{detailSo.id}}</p>
</label>

 <label class="item item-stacked-label">
    <span class="input-label">Customer</span>
    <p>{{detailSo.customer}}</p>
</label>


   <label class="item item-input item-select">
    <div class="input-label">
      Type
    </div>
    <select ng-model="editSo.sales_order_type_id">
      <option value="1">Delivery</option>
      <option value="2" selected>Pick Up</option>
    </select>
  </label>

    <label class="item item-input item-stacked-label">
    <span class="input-label">Order Description</span>
    <input type="text" placeholder="{{detailSo.order_desc}}" ng-model="editSo.sales_order_desc">
  </label>

    <label class="item item-input item-stacked-label">
    <span class="input-label">Notes</span>
    <input type="text" placeholder="{{detailSo.notes}}" ng-model="editSo.notes">
  </label>

  <label class="item item-input item-stacked-label soDatePicker">
     <span  class="input-label">Scheduled Date</span>
    <input ng-model="editSo.date" type="date">    
  </label>

<button class="button button-block button-positive" ng-click="editOb(editSo)">
  Submit Edit
</button>
    </ion-content>
  </ion-modal-view>