<ion-view>
    <ion-header-bar class="bar-dark">
        <button class="button icon ion-navicon" ng-click='logout()'></button>
        <h1 class="title">Cinder</h1>
        <button class="button " ui-sref="createSo"><i class="icon ion-plus"></i></button>
    </ion-header-bar>
    <ion-content>
        <div class="item item-divider center-text">
            Purchase Orders
        </div>

        Hey Suhhh Dude
    </ion-content>

<div class="tabs">
    <a class="tab-item" ui-sref="home">
    Sales
  </a>
    <a class="tab-item" ui-sref="purchase">
    Purchase Orders
  </a>
</div>
</ion-view>