/* Empty. Add your own CSS if you like */
.noWrap {
  white-space: normal !important;
}
.ob-desc h2 {
  font-size: 1.5rem;
  padding: 0 5px 0 0;
  margin-bottom: 15px;
}

ob-desc p {
  padding: 10px;
}

.center-text {
  text-align: center !important;
}

.bold {
  font-weight: 900
}

.isPrepared {
  background-color: #33CD5F;
}

/*OB DETAIL PAGE*/



.ob-detail-header {
  display: flex;
  justify-content: space-between;
}

.ob-detail-header span {
  font-size: 1.5rem;
}

.ob-detail-header i {
  font-size: 1.9rem;
}

/* Login Page */

.animate-hide {
  transition: all linear 0.5s;
  line-height: 20px;
  opacity: 1;
  padding: 10px;
  background: white;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.email-popup {
  color: red;
}
.password-popup {
  color: red;
}